body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid #9b59b6;
  column-gap: 16px;
}
.grid__item--1 {
  background-color: #f1c40f;
}
.grid__item--2 {
  background-color: #e67e22;
}
.grid__item--3 {
  background-color: #e74c3c;
}
