body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid */
.grid {
  display: grid;
  height: 600px;
  /* gap: 15px; */
  border: 3px solid #9b59b6;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.grid__item {
  width: 100px;
  height: 100px;
}
.grid__item--1 {
  background-color: #ecf0f1;
}
.grid__item--2 {
  background-color: #ecf0f1;
}
.grid__item--3 {
  background-color: #ecf0f1;
}

